label[for='una'] {

    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 170, 248);
    border-radius: 5px;
    font-family: cursive;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    left:0px;
    bottom:10px;
    margin:10px;
	cursor: pointer;
}
.tap1{
    position:relative;
    border: solid 2px #3f3b00;
    border-radius: 4px;
    display: none;
    background: url('https://scontent.fcgm1-1.fna.fbcdn.net/v/t39.30808-6/342349440_232116196068910_6199876714040667176_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=9c7eae&_nc_eui2=AeEBuw3YQ-h4I0Hy_gm3aFnoStrA4vwLg7hK2sDi_AuDuKYfbNGzTCDkxiXk6aHz4zh8rkoXOAEIUw1UPTHwXiMt&_nc_ohc=En4izhDSbicAX_q-_v5&_nc_ht=scontent.fcgm1-1.fna&oh=00_AfB_hV2ZiNyIQKhJF4X37dxthdTEPwcfm_-OCqtjE_ImeA&oe=657E8E9B') no-repeat;
    background-size: cover;
    width:150px;
    height: 150px;
    margin: 270px;
    left: 0px;
    bottom: 270px;
    cursor: pointer;
 }
        input[type=checkbox] {
            display:none;
        }
        input[type=checkbox]:checked + .tap {
            display: block;
        }
        input[type=checkbox]:checked + .tap1 {
            display: block;
        }
        * {
            box-sizing: border-box;
        }